<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
   form {
    border: 1px solid #ddd;
    padding:5px;
    width:225px;
    background: #efefef;
   }
   label{
       display: block;
       margin-top: 5px;
   }
   input, textarea, select, option {
       min-width: 200px;
   }
  </style>
 
</head>
<body>
  <div id="app">

  <form @submit.prevent="submitForm()" >
    <p v-if="errors.length">
      <b>Please correct the following errors :</b>
      <ul>
        <li v-for="error in errors">{{ error }}</li>
      </ul>
    </p>
    <label>Nama : </label>
    <input type="text" name="name" ref="name" v-model="name" :disabled="buttonStatus == 'upload'">
    <label>Alamat : </label>
    <textarea name="address" ref="address" v-model="address" :disabled="buttonStatus == 'upload'"></textarea>    
    <label>No. Hp : </label>
    <input type="number" name="no_hp" ref="no_hp" v-model="no_hp" :disabled="buttonStatus == 'upload'">
    <br><br>
    <!-- Pengkondisian Tombol buttonSubmit -->
    <div v-if="buttonStatus == 'submit'">
        <input type="submit" value="SUBMIT">
      </div>
      <div v-else-if="buttonStatus == 'update'">
         <input type="button" @click="updatePost(idEditMember)" value="UPDATE">
         <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
      </div>
       <div v-else-if="buttonStatus == 'upload'">
         <input type="file" name="photo" ref="photo">
         <input type="button" value="UPLOAD" @click="submitPhoto(idUploadMember)" style="margin-top:5px;">
         <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
      </div>

  </form> 

  <br><br>
  <!-- langkah 3 =============== 
    membuat tabel untuk menampilkan data -->
    <table border=1> 
        <tr v-for="post of members">
          <td>
            <img width=100 :src="post.photo_profile ? domain + post.photo_profile : 'https://dummyimage.com/600x400/000/fff'" alt=""> 
          </td>
          <td>
            <b>Nama : </b> {{ post.name }} <br>
            <b>Alamat : </b> {{ post.address }} <br>
            <b>No. HP : </b> {{ post.no_hp }} <br>
          </td>
          <td>
            <button @click="editPost(post)">Edit</button>
            <button @click="removePost(post.id)">Hapus</button>
            <button @click="uploadPhoto(post)">Upload Foto</button>
          </td>
        </tr>
     </table>
     <!-- langkah 3 End. -->

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
   var vm = new Vue({
       el: '#app',
       data: {
        name : '',
        address: '',
        no_hp: 0,
        debugger : '',
        errors : [],
        members : [],  //untuk menampung data dari webservice
        domain : 'http://demo-api-vue.sanbercloud.com', //domain webservice
        buttonStatus : 'submit',
        idEditMember : null,
        idUploadMember : null
       },
       methods: {
        validationForm : function(){
           this.errors = []

           if(this.name.length < 3){
            this.errors.push('Nama minimal 3 karakter')
            this.$refs.name.focus()
           }
           
           if(this.address.length > 100){
            this.errors.push('Alamat tidak boleh lebih dari 100 karakter')
            this.$refs.address.focus()
           }

           if(this.address.length == 0){
            this.errors.push('Alamat harus diisi')
            this.$refs.address.focus()
           }
        },
        //langkah 1 ===============
        getMembers : function(){
            
            const config = {
              method : "get",
              url : `${this.domain}/api/member`
            }

            axios(config)
              .then( (response) => {
                // console.log(response.data) 
                this.members = response.data.members
              })
              .catch( (error) => {
                console.log(error)
              })
        }, 

          //langkah 4 ===============
        submitForm : function(){
          this.validationForm()

           if(this.errors.length === 0){

            let formData = new FormData()
            formData.append('name' , this.name)
            formData.append('address' , this.address)
            formData.append('no_hp' , this.no_hp)

            const config = {
              method : "post",
              url : `${this.domain}/api/member`,
              data : formData
            }

            axios(config)
              .then( (response) => {
                this.clearForm()
                this.getMembers()
                alert(response.data.message)
                
              })
              .catch( (error) => {
                console.log(error)
              })
           } 
        },

         //langkah mengosongkan form ===============
         clearForm : function(){
          this.name = ''
          this.address = ''
          this.no_hp = 0
          this.buttonStatus = 'submit'  //tambahkan var buttonStatus
          this.idEditMember = null   //tambahkan var idEdit Post
          this.idUploadMember = null
        },
        //langkah 4 End.

        //langkah 5 menghapus postingan =========
        removePost : function(id){
          const config = {
            method : "post",
            url : `${this.domain}/api/member/${id}`,
            params : {_method : "DELETE" }
          }

          axios(config)
            .then( (response) => {
                this.getMembers()
                alert(response.data.message)
            })
            .catch( (error) => {
              console.log(error)
            })

          console.log(id)
        },
        //langkah 5 End.

        //langkah 6 edit post =========
        editPost : function(post){
          this.name = post.name
          this.address = post.address
          this.no_hp = post.no_hp
          this.buttonStatus = 'update'
          this.idEditMember = post.id
        },
         //langkah 6 End.

         //langkah 7 edit post =========
        updatePost : function(id){

            this.validationForm()

            if( this.errors.length === 0){

            let formData = new FormData()
            formData.append('name' , this.name)
            formData.append('address' , this.address)
            formData.append('no_hp' , this.no_hp)

            let config = {
                method : "post",
                url : `${this.domain}/api/member/${id}`,
                params : { _method : 'PUT'},
                data : formData
            }

            axios(config)
                .then( (response) => {
                this.clearForm()
                this.getMembers()
                alert(response.data.message)
                })
                .catch( (error) => {
                console.log(error)
                })
            }

        },
        //langkah 7 End.

        //langkah 8 upload photo =========
        uploadPhoto : function(post){
          this.name = post.name
          this.address = post.address
          this.no_hp = post.no_hp
          this.buttonStatus = 'upload'
          this.idUploadMember = post.id
        },

        submitPhoto :function(id){
          
          let file = this.$refs.photo.files[0]

          let formData = new FormData()
          formData.append('photo_profile' , file)

          let config = {
              method : "post",
              url : `${this.domain}/api/member/${id}/upload-photo-profile`,
              data : formData
          }

          axios(config)
            .then( (response) => {
              this.clearForm()
              this.getMembers()
              alert(response.data.message)

            })
            .catch( (error) => {
              console.log(error)
            })
        }

      },
      //langkah 2 ===============
      created(){
         this.getMembers()
        }
        //langkah 2 End.
   })
  </script>

</body>
</html>
