<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="cari" placeholder="Cari Book">
        <ul v-for="book in filterBooks">
            <li>{{book}}</li>
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                cari: '',
                books: [
                        'Kalkulus Dasar',
                        'Fisika dasar',
                        'Aljabar Linier Elementer',
                        'Aljabar Abstrak',
                        'Algoritma Pemrograman'
                ], 
                caribook: [],               
            },
            computed: {                
                filterBooks(){                    
                    return this.books.filter((book)=>{
                        return book.toLowerCase().match(this.cari)
                    });
                }
            },
            methods: {

            }

        });
    </script>

</body>
</html>