
<!DOCTYPE html>
<html lang="en">
<head>   <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>7-4-Tugas-VueRouter</title>
</head>
<body>
  <div id="app">
    <h1>7-4-Tugas-VueRouter</h1>

    <!-- Pengganti tag <a href=""></a>  -->
    <router-link to="/">Home</router-link>
    <router-link to="/about">About</router-link>
    <router-link to="/kontak">Kontak</router-link>

    <!-- Untuk Menampilkan component secara dinamis , sesuai dengan route yang diakses -->
    <router-view></router-view>

  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
 
  <script>
        // Kita membuat 2 component , yaitu Home dan About
        const Home = { 
          template: `
            <div>
              Ini Halaman Home
            </div>`
         }
        const About = { 
          template: `
            <div>
              Ini Halaman About
            </div>` 
          }

        const Kontak = { 
        template: `
          <div>
            Ini Halaman Kontak
          </div>` 
        }

        const NotFound = { 
        template: `
          <div>
            404 Not Found
          </div>` 
        }

        const BlogComponent = { 
        computed: {
            title: function(){
              let slug = this.$route.params.slug

              return slug.split('-').join(' ').toUpperCase()
            }
        },         
        template: `
          <div>
            ini Judul Blog : <b>{{title}}</b>
          </div>` 
        }

        // Kemudian kita arahkan setiap route ke component yang kita inginkan
        const routes = [
            { 
              path: '/', 
              component: Home , 
              alias: '/home',
              name: 'Home',
              
            },
            { 
              path: '/about', 
              component: About,
              name: 'About',
              meta: {login:true},
              beforeEnter: ((to, from, next) => {
                    // ...
                    
                    if (to.matched.some(record=>record.meta.login)){
                      let user = {
                                login : true,
                                role : null
                                }
                      if(!user.login) {
                        alert('Halaman ini hanya untuk User yang sudah login')
                        next(false)
                      }else{
                        next()
                        alert('Berhasil masuk')
                      }
                    }else{
                        next()             
                      }
                  })

             },
             { 
              path: '/kontak', 
              component: Kontak,
              name: 'Kontak',
              meta: {login:true, role: 'admin' },
              beforeEnter: ((to, from, next) => {
                    // ...
                    if (to.matched.some(record=>record.meta.login)){
                    let user = {
                            login : true,
                            role : 'admin'
                    }
                    if(!user.login) {
                      alert('Halaman ini hanya untuk User yang sudah login')
                      next(false)
                    }if(!user.role){
                            alert('Halaman ini hanya untuk User role = ADMIN')
                            next(false)
                    }else{
                      next()
                      alert('Berhasil masuk')
                    }
                  }           
                                          
              })   
             },  
             { 
              path: '/blog/:slug', 
              component: BlogComponent,
              name: 'Blog'
             },           
             { 
              path: '/404', 
              component: NotFound,
              name: 'NotFound'
             },
             { 
              path: '/*', 
              redirect: '/404'
             }
        ]

        //Kemudian kita instansiasi object Vue Router dan tambahkan routes yang sudah kita buat tadi
        const router = new VueRouter({
        routes 
        })

        // // //Navigation Guards
        // router.beforeEach((to, from, next) => {
        //   // ...
        //   if (to.matched.some(record=>record.meta.login)){
        //     let user = {
        //              login : true,
        //             role : null
        //      }
        //     if(!user.login) {
        //       alert('Halaman ini hanya untuk User yang sudah login')
        //       next(false)
        //     }if(!user.role){
        //             alert('Halaman ini hanya untuk User role = ADMIN')
        //             next(false)
        //     }else{
        //       next()
        //       alert('Berhasil masuk')
        //     }
        //   }
        //   next(false)             
           
        // })

        //Kemudian kita tambahkan object VueRouter yang kita namakan router ke object Vue

        var vm = new Vue({ 
        el: '#app', 
        router, 
        
        })
  </script>
</body>
</html>