
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>CRUD TodoList</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"/>
  
      <style>
        .container {
          max-width: 960px;
          margin: 0 auto;
        }
        h1 {
          padding-top: 40px;
        }
      </style>
    </head>
    <body>
      <div id="app" class="container">
        <h1>Users List</h1>
  
        <div v-if="!isEditing">
          <input type="text" v-model="newUser" />
          <input type="submit" value="Add" @click="storeUser" />
        </div>
        <div v-else>
          <input type="text" v-model="newUser" />
          <input type="submit" value="Update" @click="updateUser" />
        </div>
  
        <ol>
          <li v-for="(newUser, index) in users">
            {{ newUser.name }}
            <button @click="editUser(index, newUser.name)">Edit</button>
            <button @click="removeUser(index)">Delete</button>
          </li>
        </ol>
      </div>
  
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
      <script>
        new Vue({
          el: "#app",
  
          data: {
            isEditing: false,
            newUser: "",
            users: [{name: "Muhammad Iqbal Mubarok"},
            {name: "Ruby Purwanti"},
            {name: "Faqih Muhammad"},],
            selectedUser: null,
          },
  
          methods: {
            storeUser() {
              this.users.push({'name':this.newUser});
              this.newUser = "";
            },
  
            removeUser(index) {
              alert("mau dihapus?")
              this.users.splice(index, 1);
            },
  
            updateUser() {
              this.users.splice(this.selectedIndex, 1, {'name':this.newUser});
              this.newUser = "";
              this.isEditing = false;
            },
  
            editUser(index, newUser) {
              this.isEditing = true;
              this.newUser = newUser;
              this.selectedIndex = index;
            },
          },
        });
      </script>
    </body>
  </html>